{% extends "base.html.twig" %}
{% block title %}Atelier-Desk New Solution
{% endblock %}
{% block body %}
	<div
		class="container">

		{# Button pour revenir a la liste une ticket #}
		<a href="{{path('app_ticketsolutions')}}" class="btn btn-primary mt-4">
			Retour a liste des solutions</a>

		<h1 class="mt-4">
			Création de une nouvelle solution</h1>
		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
			<div class="form-error">
				{{ form_errors(form.name) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
			<div class="form-error">
				{{ form_errors(form.description) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.ticket) }}
			{{ form_widget(form.ticket) }}
			<div class="form-error">
				{{ form_errors(form.ticket) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_row(form._token) }}
		</div>
		<div class="form-group">
			{{ form_row(form.submit) }}
		</div>


		{{ form_end(form) }}
	</div>
{% endblock %}
