{% extends "base.html.twig" %}
{% block title %}Atelier-Desk Edition Category
{% endblock %}
{% block body %}
	<div
		class="container">

		{# Button pour revenir a la liste une category #}
		<a href="{{path('app_category')}}" class="btn btn-primary mt-4">
			Retour a liste de categories</a>

		<h1 class="mt-4">Modification d'une Categorie</h1>

		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
			<div class="form-error">
				{{ form_errors(form.name) }}
			</div>
		</div>

		{# <div class="form-group">
				{{ form_row(form._token) }}
								</div> #}
		<div class="form-group">
			{{ form_row(form.submit) }}
		</div>
	</div>
	{{ form_end(form) }}
</div>{% endblock %}
