{% extends "base.html.twig" %}
{% block title %}Atelier-Desk Edit ticket
{% endblock %}
{% block body %}
	<div
		class="container">

		{# Button pour revenir a la liste une ticket #}
		<a href="{{path('app_ticket')}}" class="btn btn-primary mt-4">
			Retour a liste de tickets</a>

		<h1 class="mt-4">Modification de un ticket</h1>

		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
			<div class="form-error">
				{{ form_errors(form.name) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
			<div class="form-error">
				{{ form_errors(form.description) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.priority) }}
			{{ form_widget(form.priority) }}
			<div class="form-error">
				{{ form_errors(form.priority) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.category) }}
			{{ form_widget(form.category) }}
			<div class="form-error">
				{{ form_errors(form.category) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_row(form.submit) }}
		</div>

	</div>
{% endblock %}
