{% extends 'base.html.twig' %}

{% block title %}Atelier Desk Tickets
{% endblock %}

{% block body %}

	<div
		class="container mt-4">
		{# condition pour montrer une reponse si'l n'ai pas de tickets #}
		{% if not tickets.items is same as([]) %}
			<h1>Tickets</h1>

				<a href="{{ path('app_ticket_new') }}" class="btn btn-primary">Créer nouveau Ticket</a>
			
			{# Flash message votre ticket a ete cree avec succes #}
				{% for message in app.flashes('success') %}
					<div class="alert alert-success mt-4"> {{ message }}
				</div>
			{% endfor %}


			<table class="table table-hover mt-4">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Nom</th>
						<th scope="col">Priorité</th>
						<th scope="col">Date de création</th>
						<th scope="col">Edition</th>
						<th scope="col">Suppresion</th>

					</tr>
				</thead>
				<tbody>

					{% for ticket in tickets %}
						<tr class="table-primary">
							<th scope="row">{{ticket.id}}</th>
							<td>{{ticket.name}}</td>
							<td>
								{# Condition message si la priorite is null #}
								{% if ticket.priority is null %}
									Non renseigné
								{% else %}
									{{ticket.priority}}
								{% endif %}
							</td>
							<td>{{ticket.createAt|date('d/m/Y') }}</td>

							<td>
								<a href="{{ path ('app_ticket_edition', {'id': ticket.id}) }}" class="btn btn-info">Modifier</a>
							</td>
							<td>
								<a href="{{ path ('app_ticket_delete', {id:ticket.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer ce ticket ?')" class="btn btn-danger">Supprimer</a>

							</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>

			{# display navigation #}
			<div class="navigation d-flex justify-content-center">
				{{ knp_pagination_render(tickets) }}
			</div>
		{% else %}
			<h4>Il n'y a pas de tickets</h4>
			<a href="{{ path('app_ticket_new') }}" class="btn btn-primary">Créer nouveau Ticket</a>

		{% endif %}

	</div>

{% endblock %}
