{% extends 'base.html.twig' %}

{% block title %}Atelier - Desk Contact
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Formulaire de contact</h1>

		{# Flash message  send succesfully #}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{# Create the form #}
		{{ form_start(form) }}

		{# Customize form fields #}
		<div class="form-group">
			{{ form_label(form.name, 'Votre Prénom') }}
			{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.name) }}
		</div>

		<div class="form-group">
			{{ form_label(form.lastname, 'Votre nom') }}
			{{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.lastname) }}
		</div>

		<div class="form-group">
			{{ form_label(form.email, 'Votre Email') }}
			{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.email) }}
		</div>

		<div class="form-group">
			{{ form_label(form.subject, 'Sujet') }}
			{{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(form.subject) }}
		</div>

		<div class="form-group">
			{{ form_label(form.message, 'Message') }}
			{{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 5}}) }}
			{{ form_errors(form.message) }}
		</div>

		{# Customize form buttons #}
		<button type="submit" class="btn btn-primary mt-4 mb-5">Envoyer message</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
